# Test places and builds
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# LuaCov output location
/luacov.*

# MkDocs build output
/site/

# Package manager
wally.lock
rotriever.lock
Packages

# Misc OS and editor files
.DS_Store
.vscode
.idea
